# Summarizing the Data
---------------------------------------
- Heart Rate Data
- Audio Exposure Data
- Step Data

In [1]:
# import dependencies
import pandas as pd
from datetime import date, datetime, timedelta, time
import numpy as np

### Heart Rate

In [2]:
# load the data
file_path = '../Resources/hr_data.csv'
hr_df = pd.read_csv(file_path)
hr_df.head()

  date_created time_created  values
0   2015-12-25     14:06:03    65.0
1   2015-12-25     14:25:52   107.0
2   2015-12-25     14:33:08    67.0
3   2015-12-25     14:43:08    97.0
4   2015-12-25     14:52:27    61.0

In [3]:
# create bins for the hr values
ranges = []

# values from American Heart Association

# high > 100
# low < 60
# normal 60-100
for i in hr_df['values']:
    if i > 195:
        ranges.append('danger')
    elif i > 125 and i < 195:
        ranges.append('high')
    elif i < 65:
        ranges.append('low')
    else:
        ranges.append('normal')

# add bin into the df
hr_df.insert(3, 'ranges', ranges)

In [4]:
# create bins for each time range while at work
periods = []

# bins for each time range
def time_in_range(start_time, end_time, creation_time):
    return start_time.strftime('%H:%M:%S') <= creation_time.strftime('%H:%M:%S') <= end_time.strftime('%H:%M:%S')

# the start and end times of my day
# before first class
start_time_1 = time(6, 45, 0)
end_time_1 = time(9, 25, 0)
# 5th Grade
start_time_2 = time(9, 30, 0)
end_time_2 = time(10, 15, 0)
# 4th Grade
start_time_3 = time(10, 20, 0)
end_time_3 = time(11, 5, 0)
# lunch
start_time_4 = time(11, 5, 0)
end_time_4 = time(11, 35, 0)
# kinder
start_time_5 = time(11, 35, 0)
end_time_5 = time(12, 20, 0)
# 1st grade
start_time_6 = time(12, 25, 0)
end_time_6 = time(13, 10, 0)
# 3rd grade
start_time_7 = time(13, 15, 0)
end_time_7 = time(14, 0, 0)
# 2nd grade
start_time_8 = time(14, 5, 0)
end_time_8 = time(14, 50, 0)
# dismissal
start_time_9 = time(14, 50, 0)
end_time_9 = time(16, 0, 0)

In [5]:
# loop through the data and create the bin for time at work
for i in hr_df['time_created']:
    creation_time = i
    time_dt = datetime.strptime(creation_time, '%H:%M:%S')
    time_dt.strftime('%H:%M:%S')
    if time_in_range(start_time_1, end_time_1, time_dt) == True:
        periods.append(1)
    elif time_in_range(start_time_2, end_time_2, time_dt) == True:
        periods.append(2)
    elif time_in_range(start_time_3, end_time_3, time_dt) == True:
        periods.append(3)
    elif time_in_range(start_time_4, end_time_4, time_dt) == True:
        periods.append(4)
    elif time_in_range(start_time_5, end_time_5, time_dt) == True:
        periods.append(5)
    elif time_in_range(start_time_6, end_time_6, time_dt) == True:
        periods.append(6)
    elif time_in_range(start_time_7, end_time_7, time_dt) == True:
        periods.append(7)
    elif time_in_range(start_time_8, end_time_8, time_dt) == True:
        periods.append(8)
    elif time_in_range(start_time_9, end_time_9, time_dt) == True:
        periods.append(9)
    else:
        periods.append(0)
        
# add bin into df
hr_df.insert(4, 'day_sections', periods)

In [6]:
hr_df.head()

  date_created time_created  values  ranges  day_sections
0   2015-12-25     14:06:03    65.0  normal             8
1   2015-12-25     14:25:52   107.0  normal             8
2   2015-12-25     14:33:08    67.0  normal             8
3   2015-12-25     14:43:08    97.0  normal             8
4   2015-12-25     14:52:27    61.0     low             9

In [7]:
# determine the range of days
# we want to find all the days of the week while I was working
def date_in_range(start, end, day):
    return start <= day <= end

# the start and end dates
start = datetime(2022, 3, 28)
end = datetime(2022, 6, 9)

In [8]:
date_creation = []
time_creation = []
hr_value = []
hr_bin = []
time_bin = []
day_week = []

# grabbing all the rows for the selected time range
for idx, row in hr_df.iterrows():
    day = row['date_created']
    day_dt = datetime.strptime(day, '%Y-%m-%d')
    if date_in_range(start, end, day_dt) == True:
        day_week.append(datetime.weekday(day_dt))
        date_creation.append(day)
        time_creation.append(row['time_created'])
        hr_value.append(row['values'])
        hr_bin.append(row['ranges'])
        time_bin.append(row['day_sections'])

school_hr_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': hr_value,
    'ranges': hr_bin,
    'day_sections': time_bin,
    'day_of_week': day_week
}

school_hr_df = pd.DataFrame(school_hr_dict)

# removing all the weekend days
school_hr_df = school_hr_df[school_hr_df['day_of_week'] < 5]
school_hr_df.to_csv('../Resources/work_hr.csv', index =False)

In [9]:
school_hr_df.head()

  date_created time_created  values  ranges  day_sections  day_of_week
0   2022-03-28     18:44:22    96.0  normal             0            0
1   2022-03-28     18:45:04   105.0  normal             0            0
2   2022-03-28     18:45:09    98.0  normal             0            0
3   2022-03-28     18:45:14   100.0  normal             0            0
4   2022-03-28     18:45:19   100.0  normal             0            0

In [10]:
unique_dates = []
daily_hr_info = []
avg_hr_list = []
max_hr_list = []
min_hr_list = []
median_hr_list = []
day_of_week_list = []

# find each day within the school_df
for i in school_hr_df['date_created']:
    if i not in unique_dates:
        unique_dates.append(i)

# find the avg_hr, min_hr, max_hr, and median_hr for each day
for i in unique_dates:
    hrs = []
    for idx, row in school_hr_df.iterrows():
        if i == row['date_created']:
            hrs.append(row['values'])

    # use numpy to determine mean, min, max, median
    avg_hr = np.mean(hrs)
    min_hr = np.min(hrs)
    max_hr = np.max(hrs)
    median_hr = np.median(hrs)
    
    # append each respective list with value
    avg_hr_list.append(avg_hr)
    max_hr_list.append(max_hr)
    min_hr_list.append(min_hr)
    median_hr_list.append(median_hr)

    day = i
    day_dt = datetime.strptime(day, '%Y-%m-%d')
    day_of_week = datetime.weekday(day_dt)
    day_of_week_list.append(day_of_week)

    daily_hr_dicts = {
        'day': i,
        'avg_hr': avg_hr,
        'min_hr': min_hr,
        'max_hr': max_hr,
        'median_hr': median_hr, 
        'day_week': day_of_week
    }

    daily_hr_info.append(daily_hr_dicts)

# create daily_df
daily_hr_df = pd.DataFrame(daily_hr_info)

In [11]:
daily_hr_df.head()

          day     avg_hr  min_hr  max_hr  median_hr  day_week
0  2022-03-28  94.961433    61.0   126.0      100.0         0
1  2022-03-29  82.673681    56.0   127.0       81.0         1
2  2022-03-30  75.848700    51.0   111.0       75.0         2
3  2022-03-31  83.492542    59.0   123.0       81.0         3
4  2022-04-01  92.928273    56.0   126.0       95.0         4

### Audio Exposure

In [12]:
# load the data
file_path = '../Resources/sound_data.csv'
sound_df = pd.read_csv(file_path)
sound_df.head()

  date_created time_created   values
0   2021-03-09     15:14:42  60.6016
1   2021-03-09     15:38:53  66.6931
2   2021-03-09     16:05:54  57.5056
3   2021-03-09     16:39:09  71.8202
4   2021-03-09     17:09:26  69.3809

In [13]:
# create bins for the sound values
level = []

# values from World Health Organization

# safe < 80
# 80 > loud > 100
# danger > 100
for i in sound_df['values']:
    if i > 100:
        level.append('danger')
    elif i > 80 and i < 100:
        level.append('loud')
    else:
        level.append('safe')

# add bin into the df
sound_df.insert(3, 'level', level)

In [14]:
periods = []

# loop through the data and create the bin for time at work
for i in sound_df['time_created']:
    creation_time = i
    time_dt = datetime.strptime(creation_time, '%H:%M:%S')
    time_dt.strftime('%H:%M:%S')
    if time_in_range(start_time_1, end_time_1, time_dt) == True:
        periods.append(1)
    elif time_in_range(start_time_2, end_time_2, time_dt) == True:
        periods.append(2)
    elif time_in_range(start_time_3, end_time_3, time_dt) == True:
        periods.append(3)
    elif time_in_range(start_time_4, end_time_4, time_dt) == True:
        periods.append(4)
    elif time_in_range(start_time_5, end_time_5, time_dt) == True:
        periods.append(5)
    elif time_in_range(start_time_6, end_time_6, time_dt) == True:
        periods.append(6)
    elif time_in_range(start_time_7, end_time_7, time_dt) == True:
        periods.append(7)
    elif time_in_range(start_time_8, end_time_8, time_dt) == True:
        periods.append(8)
    elif time_in_range(start_time_9, end_time_9, time_dt) == True:
        periods.append(9)
    else:
        periods.append(0)
        
# add bin into df
sound_df.insert(4, 'day_sections', periods)

In [15]:
sound_df.head()

  date_created time_created   values level  day_sections
0   2021-03-09     15:14:42  60.6016  safe             9
1   2021-03-09     15:38:53  66.6931  safe             9
2   2021-03-09     16:05:54  57.5056  safe             0
3   2021-03-09     16:39:09  71.8202  safe             0
4   2021-03-09     17:09:26  69.3809  safe             0

In [16]:
date_creation = []
time_creation = []
sound_value = []
sound_bin = []
time_bin = []
day_week = []

# grabbing all the rows for the selected time range
for idx, row in sound_df.iterrows():
    day = row['date_created']
    day_dt = datetime.strptime(day, '%Y-%m-%d')
    if date_in_range(start, end, day_dt) == True:
        day_week.append(datetime.weekday(day_dt))
        date_creation.append(day)
        time_creation.append(row['time_created'])
        sound_value.append(row['values'])
        sound_bin.append(row['level'])
        time_bin.append(row['day_sections'])

school_sound_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': sound_value,
    'level': sound_bin,
    'day_sections': time_bin,
    'day_of_week': day_week
}

school_sound_df = pd.DataFrame(school_sound_dict)

# removing all the weekend days
school_sound_df = school_sound_df[school_sound_df['day_of_week'] < 5]
school_sound_df.to_csv('../Resources/work_sound.csv', index =False)

In [17]:
school_sound_df.head()

  date_created time_created   values level  day_sections  day_of_week
0   2022-03-28     18:50:50  78.0936  safe             0            0
1   2022-03-28     19:18:55  76.4289  safe             0            0
2   2022-03-28     19:45:30  76.1901  safe             0            0
3   2022-03-28     20:23:17  77.2695  safe             0            0
4   2022-03-28     20:45:02  75.8986  safe             0            0

In [19]:
unique_dates = []
daily_sound_info = []
avg_sound_list = []
max_sound_list = []
min_sound_list = []
median_sound_list = []
day_of_week_list = []

# find each day within the school_df
for i in school_sound_df['date_created']:
    if i not in unique_dates:
        unique_dates.append(i)

# find the avg_hr, min_hr, max_hr, and median_hr for each day
for i in unique_dates:
    sound = []
    for idx, row in school_sound_df.iterrows():
        if i == row['date_created']:
            sound.append(row['values'])

    # use numpy to determine mean, min, max, median
    avg_sound = np.mean(sound)
    min_sound = np.min(sound)
    max_sound = np.max(sound)
    median_sound = np.median(sound)
    
    # append each respective list with value
    avg_sound_list.append(avg_sound)
    max_sound_list.append(max_sound)
    min_sound_list.append(min_sound)
    median_sound_list.append(median_sound)

    day = i
    day_dt = datetime.strptime(day, '%Y-%m-%d')
    day_of_week = datetime.weekday(day_dt)
    day_of_week_list.append(day_of_week)

    daily_sound_dicts = {
        'day': i,
        'avg_sound': avg_sound,
        'min_sound': min_sound,
        'max_sound': max_sound,
        'median_sound': median_sound, 
        'day_week': day_of_week
    }

    daily_sound_info.append(daily_sound_dicts)

# create daily_df
daily_sound_df = pd.DataFrame(daily_sound_info)

# show the df
daily_sound_df.head()

          day  avg_sound  min_sound  max_sound  median_sound  day_week
0  2022-03-28  74.362012    62.9734    78.0936      76.04435         0
1  2022-03-29  76.874750    56.4867   101.5280      78.66635         1
2  2022-03-30  82.419179    49.8911   105.8030      84.33440         2
3  2022-03-31  83.728583    57.1397   105.6830      86.23160         3
4  2022-04-01  74.987476    58.3744    89.0795      73.46870         4

### Steps

In [ ]:
# load the data
file_path = '../Resources/step_data.csv'
step_df = pd.read_csv(file_path)
step_df.head()

In [ ]:
periods = []
# loop through the data and create the bin for time at work
for i in step_df['time_created']:
    creation_time = i
    time_dt = datetime.strptime(creation_time, '%H:%M:%S')
    time_dt.strftime('%H:%M:%S')
    if time_in_range(start_time_1, end_time_1, time_dt) == True:
        periods.append(1)
    elif time_in_range(start_time_2, end_time_2, time_dt) == True:
        periods.append(2)
    elif time_in_range(start_time_3, end_time_3, time_dt) == True:
        periods.append(3)
    elif time_in_range(start_time_4, end_time_4, time_dt) == True:
        periods.append(4)
    elif time_in_range(start_time_5, end_time_5, time_dt) == True:
        periods.append(5)
    elif time_in_range(start_time_6, end_time_6, time_dt) == True:
        periods.append(6)
    elif time_in_range(start_time_7, end_time_7, time_dt) == True:
        periods.append(7)
    elif time_in_range(start_time_8, end_time_8, time_dt) == True:
        periods.append(8)
    elif time_in_range(start_time_9, end_time_9, time_dt) == True:
        periods.append(9)
    else:
        periods.append(0)
        
# add bin into df
step_df.insert(3, 'day_sections', periods)

In [ ]:
step_df.head()

In [ ]:
date_creation = []
time_creation = []
step_value = []
time_bin = []
day_week = []

# grabbing all the rows for the selected time range
for idx, row in step_df.iterrows():
    day = row['date_created']
    day_dt = datetime.strptime(day, '%Y-%m-%d')
    if date_in_range(start, end, day_dt) == True:
        day_week.append(datetime.weekday(day_dt))
        date_creation.append(day)
        time_creation.append(row['time_created'])
        step_value.append(row['values'])
        time_bin.append(row['day_sections'])

school_step_dict = {
    'date_created': date_creation,
    'time_created': time_creation,
    'values': step_value,
    'day_sections': time_bin,
    'day_of_week': day_week
}

school_step_df = pd.DataFrame(school_step_dict)

# removing all the weekend days
school_step_df = school_step_df[school_step_df['day_of_week'] < 5]
school_step_df.to_csv('../Resources/work_step.csv', index =False)

In [ ]:
school_step_df.head()